<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/pageLayout}"
      layout:fragment="Content">
<head>
    <title>Login</title>
    <script src="/biz/user/login.js" defer></script>
</head>
<body class="noto-font">
<nav id="navbar" class="navbar" style="background-color: #D2B48C; box-shadow: none;">
    <div class="container">
        <div class="navbar-brand-container">
            <a href="/" th:href="@{/}">
                <img th:src="@{/images/plan-pie-logo.png}" alt="Logo" style="height: 40px;">
            </a>
            <a id="navbar-brand" class="navbar-brand" href="/" style="color: #eee;">Plan Pie</a>
        </div>
        <ul id="navbar-menu" class="navbar-menu2">
            <li th:if="${#authentication != null and #authentication.principal != null}">
                <a href="javascript:void(0);" onclick="toggleProfile(event)">Profile</a>
            </li>
            <li th:if="${#authentication == null or #authentication.principal == null}">
                <a th:href="@{/user/register}" class="login-btn2">Sign up FREE</a>
            </li>
        </ul>
    </div>
</nav>
<section class="vh-100" style="background-color: #D2B48C;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-xl-5">
                <div class="card" style="border-radius: 1rem;">
                    <div class="card-body p-4 p-lg-5 text-black">
                        <form th:action="@{/api/user/login}" method="post">
                            <div style="text-align: center;">
                                <h5 id="login-title" class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">로그인</h5>
                            </div>


                            <div class="form-floating mb-3">
                                <input type="email" class="form-control" id="floatingInputEmail" name="email" placeholder="이메일 주소">
                                <label for="floatingInputEmail">이메일 주소</label>
                            </div>

                            <div class="form-floating mb-3">
                                <input type="password" class="form-control" id="floatingPassword" name="password" placeholder="비밀번호">
                                <label for="floatingPassword">비밀번호</label>
                            </div>

                            <div class="d-grid mb-2">
                                <button id="btnLoginUser" class="btn btn-dark btn-lg login-btn2" type="submit">로그인</button>
                            </div>

                            <div class="mb-5 pb-lg-2" >

                            </div>
                            <!--<a class="small text-muted" href="#!">Forgot password?</a>
                            <p class="mb-5 pb-lg-2" style="color: #393f81;">Don't have an account? <a th:href="@{/user/register}" style="color: #393f81;">Register here</a></p>
                            -->
                            <a href="#!" class="small text-muted">Terms of use.</a>
                            <a href="#!" class="small text-muted">Privacy policy</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

</body>
</html>