<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/pageLayout}"
      layout:fragment="Content">
<head>
    <title>Register</title>
    <script src="/biz/user/register.js" defer></script>
</head>
<body class="noto-font">
<nav id="navbar" class="navbar" style="background-color: #D2B48C; box-shadow: none;">
    <div class="container">
        <div class="navbar-brand-container">
            <a href="/" th:href="@{/}">
                <img th:src="@{/images/plan-pie-logo.png}" alt="Logo" style="height: 40px;">
            </a>
            <a id="navbar-brand" class="navbar-brand" href="/" style="color: #eee;">Plan Pie</a>
        </div>
        <ul id="navbar-menu" class="navbar-menu2">
            <li th:if="${#authentication != null and #authentication.principal != null}">
                <a href="javascript:void(0);" onclick="toggleProfile(event)">Profile</a>
            </li>
            <li th:if="${#authentication == null or #authentication.principal == null}">
                <a th:href="@{/user/login}" class="register-btn2">Login</a>
            </li>
        </ul>
    </div>
</nav>
<section class="vh-100" style="background-color: #D2B48C;">
    <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-xl-5 mx-auto">
                <div class="card" style="border-radius: 1rem;">
                    <div class="card-body p-4 p-lg-5 text-black">
                        <form>
                            <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />

                            <div style="text-align:center;">
                                <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">등록</h5>
                            </div>

                            <div class="form-floating mb-3">
                                <input id="email" type="email" class="form-control" placeholder="이메일 주소">
                                <label for="email">이메일 주소</label>
                            </div>

                            <hr>

                            <div class="form-floating mb-3">
                                <input id="password" type="password" class="form-control" placeholder="비밀번호">
                                <label for="password">비밀번호</label>
                            </div>

                            <div class="form-floating mb-3">
                                <input id="confirmPassword" type="password" class="form-control" placeholder="비밀번호 확인">
                                <label for="confirmPassword">비밀번호 확인</label>
                            </div>

                            <div class="d-grid mb-2">
                                <button id="btnRegUser" class="btn btn-dark btn-lg register-btn2" type="submit">등록</button>
                            </div>

                            <!--<a class="d-block text-center mt-2 small mb-3 pb-lg-2" th:href="@{/user/login}">Have an account? Sign In</a>
-->
                            <hr class="my-4">

                            <div class="d-grid mb-2">
                                <button class="btn btn-lg btn-google" type="submit">
                                    <i class="fab fa-google me-2"></i> Sign up with Google
                                </button>
                            </div>

                            <div class="d-grid">
                                <button class="btn btn-lg btn-primary" type="submit">
                                    <i class="fab fa-facebook-f me-2"></i> Sign up with Facebook
                                </button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>