<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="~{fragments/config :: Config}"></head>
<script>
    $(function() {
        let prefix = '/biz/';
        let suffix = '.js';
        let params = new URLSearchParams(window.location.search);
        let page = params.get('page');
        if(page !== null && page !== '/') {
            $.getScript(prefix + page + suffix)
                .done(function (data){
                    console.log(page + " js build completed"); // success
                })
                .fail(function() {
                    alert("js를 찾을 수 없습니다.");
                });
        }
    });
</script>
<body>
    <header th:replace="~{/fragments/header :: Header}"></header>
    <main id="container" class="content-container">
        <th:block layout:fragment="Content"></th:block>
    </main>
    <footer th:replace="~{/fragments/footer :: Footer}"></footer>

    <div id="commonLayer" th:insert="~{fragments/layer}"></div>
</body>
</html>