<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="fragments/config :: Config"></head>
<script>
    $(function() {
        let prefix = '/assets/js';
        let suffix = '.js';
        let page = location.pathname; // 현재경로

        $.getScript(prefix + page + suffix)
            .done(function (data){
                console.log(data); // success
            })
            .fail(function() {
                alert("js를 찾을 수 없습니다.");
            });
    });
</script>
<body>
    <header th:replace="fragments/header :: Header"></header>
    <main id="container" class="content-container">
        <th:block layout:fragment="Content"></th:block>
        <footer th:replace="fragments/footer :: Footer"></footer>
    </main>

    <div id="commonLayer" th:include="fragments/layer"></div>
</body>
</html>