<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      th:fragment="Footer">
<footer id="footer" class="footer light">
    <div id="footer-content" class="footer-content light">
        <div class="container">
            <div id="footer-columns" class="footer-columns light">
                <div class="footer-column">
                    <ul class="social-links">
                        <li><a href="https://www.youtube.com/channel/UC-PIkUMn1APTxNEKFBV4srA" target="_blank">Youtube</a></li>
                        <li><a href="https://dawn-of-coding.tistory.com/" target="_blank">Tistory</a></li>
                        <li><a href="https://instagram.com" target="_blank">Instagram</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div id="footer-bottom" class="footer-bottom light">
            <span>&copy; 2024 JCoding. All rights reserved.</span>
        </div>
    </div>
</footer>
</html>