<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      th:fragment="Header">
<nav id="navbar" class="navbar light">
    <div class="container">
        <div class="navbar-brand-container">
            <a href="/" th:href="@{/}">
                <img th:src="@{/images/plan-pie-logo.png}" alt="Logo" style="height: 40px;">
            </a>
            <a id="navbar-brand" class="navbar-brand light" href="/">Plan Pie</a>
        </div>
        <ul id="navbar-menu" class="navbar-menu light">
            <li>
                <form id="dashForm" th:action="@{/movePage}" method="get">
                    <input type="hidden" name="page" value="dashboard/dashboard">
                    <a href="#" onclick="document.getElementById('dashForm').submit(); return false;">DashBoard</a>
                </form>
            </li>
            <li>
                <form id="kanbanForm" th:action="@{/movePage}" method="get">
                    <input type="hidden" name="page" value="dashboard/kanbanboard">
                    <a href="#" onclick="document.getElementById('kanbanForm').submit(); return false;">KanbanBoard</a>
                </form>
            </li>
            <li>
                <label class="theme-toggle">
                    <input class="theme-checkbox" role="switch" type="checkbox" />
                    <span id="theme-title">Light</span>
                </label>
            </li>
            <li>
                <div class="profile-container">
                    <i class="fa-solid fa-user profile-pic"></i>
                </div>
            </li>
            <li style="">
                <a id="logout-btn" class="logout-btn">Logout</a>
            </li>
            <li>
                <a th:href="@{/user/login}" id="login-btn" class="login-btn">Login</a>
            </li>
        </ul>
    </div>
</nav>
</html>