<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="/fragments/config :: Config"></head>
<script>
    $(function() {
        let prefix = '/biz/';
        let suffix = '.js';
        let params = new URLSearchParams(window.location.search);
        let page = params.get('page');
        if(page !== null && page !== '/') {
            $.getScript(prefix + page + suffix)
                .done(function (data){
                    console.log(page + " js build completed"); // success
                })
                .fail(function() {
                    alert("js를 찾을 수 없습니다.");
                });
        }
    });
</script>
<body>
    <th:block layout:fragment="Content"></th:block>
    <div id="commonLayer" th:replace="~{fragments/layer}"></div>
</body>
</html>