body.light {
    background-color: white;
    color: black;
}
body.dark {
    background-color: #333;
    color: white;
}
nav.light {
    background-color: #f8f9fa; /* 밝은 배경 */
    color: black; /* 글자색 검정 */
}
nav.dark {
    background-color: #444; /* 어두운 배경 */
    color: white; /* 글자색 흰색 */
}
.navbar .navbar-brand.light {
    color: black; /* 글자색 검정 */
}
.navbar .navbar-brand.dark {
    color: #fff;
}
.navbar .navbar-menu.light a {
    color: black; /* 글자색 검정 */
}
.navbar .navbar-menu.dark a {
    color: #fff;
}
footer.light {
    background-color: #f8f9fa; /* 밝은 배경 */
    color: black; /* 글자색 검정 */
}
footer.dark {
    background-color: #444; /* 어두운 배경 */
    color: white; /* 글자색 흰색 */
}
.footer-content.light {
    background-color: #f8f9fa; /* 밝은 배경 */
    color: black; /* 글자색 검정 */
}
.footer-content.dark {
    background-color: #444; /* 어두운 배경 */
    color: white; /* 글자색 흰색 */
}
.footer-columns.light .footer-column a, h4 {
    color: black;
}
.footer-columns.dark .footer-column a, h4 {
    color: #ddd;
}
.footer-bottom.light {
    color: black; /* 글자색 검정 */
}
.footer-bottom.dark {
    color: white; /* 글자색 흰색 */
}

/* Header Styles */
.navbar {
    color: #fff;
    display: flex; /* 플렉스 박스 설정 */
    align-items: center; /* 수직 가운데 정렬 */
}

.navbar-brand-container {
    display: flex;
    align-items: center; /* 수직 가운데 정렬 */
}

.navbar .navbar-brand {
    margin-left: 7px; /* 타이틀과 로고 사이의 간격을 줄임 */
    display: inline-flex; /* 인라인 플렉스 설정으로 정렬 */
    align-items: center; /* 수직 정렬 */
    font-size: 2.0em;
}

.navbar .navbar-brand:hover {
    color: #964b00;
}

.navbar .navbar-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: right;
    display: flex;
    align-items: center; /* 수직 가운데 정렬 */
}

.navbar .navbar-menu li {
    /*display: inline;*/
    display: inline-flex; /* 인라인 플렉스 설정 */
    align-items: center; /* 수직 정렬 */
    margin: 0 15px;
}

.navbar .navbar-menu li a {
    text-decoration: none;
}

.navbar .navbar-menu li a:hover {
    color: #ddd;
}

.login-btn {
    background-color: #007bff;
    color: white !important;
    padding: 5px 10px;
    border-radius: 5px;
}

.login-btn:hover {
    background-color: #0056b3;
}

/* 테마 on off*/
.theme-toggle {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
}

.theme-checkbox {
    appearance: none;
    position: relative;
    border: max(2px, 0.1em) solid gray;
    border-radius: 1.25em;
    width: 2.25em;
    height: 1.25em;
}

.theme-checkbox::before {
    content: "";
    position: absolute;
    left: 0;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    transform: scale(0.8);
    background-color: gray;
    transition: left 250ms linear;
}

.theme-checkbox:checked {
    background-color: tomato;
    border-color: tomato;
}

.theme-checkbox:checked::before {
    background-color: white;
    left: 1em;
}

.theme-checkbox:disabled {
    border-color: lightgray;
    opacity: 0.7;
    cursor: not-allowed;
}

.theme-checkbox:disabled:before {
    background-color: lightgray;
}

.theme-checkbox:disabled + span {
    opacity: 0.7;
    cursor: not-allowed;
}

.theme-checkbox:focus-visible {
    outline-offset: max(2px, 0.1em);
    outline: max(2px, 0.1em) solid tomato;
}

.theme-checkbox:enabled:hover {
    box-shadow: 0 0 0 max(4px, 0.2em) lightgray;
}

/* Footer Styles */
.footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 10px 0;
}

.footer-content {
    padding: 10px 0;
}

.footer-columns {
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}
.footer-column {
    display: flex; /* Flexbox 사용 */
    justify-content: center; /* 수평 가운데 정렬 */
}

.footer-column ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.footer-column ul li {
    margin-bottom: 10px;
}

.footer-column ul li a {
    text-decoration: none;
}

.footer-column ul li a:hover {
    color: #fff;
}

.social-links {
    display: flex;
    gap: 10px;
}

.footer-bottom {
    text-align: center;
    padding-top: 20px;
    border-top: 1px solid #444;
}

.footer-bottom span {
    margin: 0;
    font-size: 0.9em;
}




/*************** dashboard ***************/
body {
    margin: 0;
    padding: 0;
    min-height: 100vh; /* 페이지가 꽉 차도록 설정 */
    display: flex;
    flex-direction: column;
}

.dashboard {
    padding: 20px;
}

.fc-col-header-cell-cushion {
    color: #444; /* 요일 색상 */
}

.fc-daygrid-day-number {
    color: #444; /* 숫자 색상 */
}

.card {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.card-header {
    background-color: #007bff;
    color: white;
}

.todo-item {
    background-color: #fff;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    cursor: move;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.calendar-container {
    padding: 15px;
}

.todo-container {
    padding: 15px;
}

.todo-item:hover {
    background-color: #f0f0f0;
}

.todo-add {
    padding: 10px;
    margin-top: 10px;
}